#map {
    border: solid 1px #CCC;
    -moz-box-shadow: 2px 2px 7px #999;
    -webkit-box-shadow: 1px 1px 5px #999;
    box-shadow: 1px 1px 5px #999;
    }
h3 {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial ";
}